    <div class="row">
        <div class="col-md-6">
            <form action="" role="form">
                <div class="row">
                    <div class="form-group">
                        <label for="movieName">Movie Name</label>
                        <input type="text" id="movieName" class="form-control" ng-model="movieName" />
                    </div>

                    <a class="btn btn-primary" ng-click="getMovieByName(movieName);">Search</a>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="movieId">Movie ID</label>
                        <input type="text" id="movieId" class="form-control"  ng-model="movieId" />
                    </div>
                    <a class="btn btn-primary" ng-click="getMovieById(movieId);">Search</a>

                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{vm.movie.Title}}</h3>
            <p>{{vm.movie.Year}}</p>
            <img ng-src="{{vm.movie.Poster}}}" alt="{{vm.movie.Title}}"/>
        </div>
    </div>

    <div class="row" ng-show="vm.error">
        <p>{{vm.error}}</p>
    </div>
